.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: white;
}
.glide__arrow--left {
  left: 2em;
}
.glide__arrow--right {
  right: 2em;
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet:focus {
  outline: none;
}
.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide__bullet--active {
  background-color: white;
}
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.kXzAIG :before,
.kXzAIG :after,
.kXzAIG * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.kXzAIG img,
.kXzAIG ul,
.kXzAIG li,
.kXzAIG p,
.kXzAIG a {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

.kXzAIG .container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

.kXzAIG .container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.kXzAIG .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.kXzAIG .kenzap-row {
  margin: 0 -15px;
  overflow: hidden;
}

.kXzAIG .kenzap-col-9 {
  width: 75%;
  float: left;
  padding: 0 15px;
}

.kXzAIG .kenzap-col-4 {
  width: 33.333333%;
  float: left;
  padding: 0 15px;
}

.kXzAIG .kenzap-col-3 {
  width: 25%;
  float: left;
  padding: 0 15px;
}

.kXzAIG .kenzap-col-2 {
  width: 16.66666667%;
  float: left;
  padding: 0 15px;
}

.kXzAIG .refine-search {
  padding: 35px 0;
  background: #fff;
}

.kXzAIG .refine-search .keyword {
  position: relative;
}

.kXzAIG .refine-search label {
  font-size: 17px;
  color: #4e4e4e;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: uppercase;
  display: block;
}

.kXzAIG .refine-search input[type=text] {
  border: 2px solid #dedede;
  padding: 0 27px;
  height: 55px;
  line-height: 51px;
  height: auto;
  width: 100%;
  color: var(--txtColorB);
  font-size: 1rem;
  border-radius: var(--borderStyle);
}

.kXzAIG .refine-search input[type=email]::-webkit-input-placeholder {
  color: var(--txtColorB);
}

.kXzAIG .refine-search input[type=email]::-moz-placeholder {
  color: var(--txtColorB);
}

.kXzAIG .refine-search input[type=email]:-ms-input-placeholder {
  color: var(--txtColorB);
}

.kXzAIG .refine-search input[type=email]:-moz-placeholder {
  color: var(--txtColorB);
}

.kXzAIG .refine-search .keyword span {
  position: absolute;
  right: 35px;
  bottom: 14px;
  cursor: pointer;
}

.kXzAIG .refine-search select::-ms-expand {
  display: none;
}

.kXzAIG .refine-search select {
  font-weight: 600;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #dedede;
  height: 55px;
  line-height: 51px;
  height: auto;
  width: 100%;
  color: var(--txtColorB);
  font-size: 15px;
  box-shadow: none;
  background: #fff url(images/select-arrow.svg) no-repeat 93% center;
  background-size: 14px 7px;
  padding: 0 40px 0 27px;
  height: 55px;
  line-height: 51px;
  border-radius: var(--borderStyle);
  cursor: pointer;
}

.kXzAIG .refine-search select:focus {
  outline: none;
}

.kXzAIG .refine-search select option {
  box-shadow: none;
  border: none;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 600;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.kXzAIG .refine-search input[type=submit] {
  width: 100%;
  border: 2px solid var(--baseColorA);
  height: 55px;
  line-height: 51px;
  text-align: center;
  color: var(--baseColorA);
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  background: #fff;
  border-radius: var(--borderStyle);
  margin: 40px 0 0;
  cursor: pointer;
}

.kXzAIG .refine-search input[type=submit]:hover {
  background: var(--baseColorA);
  color: #fff;
}

.kXzAIG .owl-carousel .owl-item {
  padding: 4px 1px 8px;
}

.kXzAIG {
  background: #fff;
}

.kXzAIG .event-tabs {
  border: none;
}

.kXzAIG .event-tabs li:first-child a {
  border-left: 1px solid var(--grayColorA);
}

.kXzAIG .event-tabs li a {
  display: block;
  padding: 30px 0;
  width: 100%;
  font-size: 3rem;
  line-height: inherit;
  text-align: center;
  display: inline-block;
  color: var(--txtColorB);
  border: none;
  background: #fdfdfd;
  border-top: 1px solid var(--grayColorA);
  border-right: 1px solid var(--grayColorA);
  border-bottom: 1px solid var(--grayColorA);
  border-radius: 0;
  margin: 0;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}

.kXzAIG .schedule-content ul.event-tabs {
  list-style: none;
  padding-left: 0;
}

.kXzAIG .schedule-content .event-tabs li a b {
  display: block;
  font-size: 1rem;
  margin: 0 0 0.4rem;
  color: var(--txtColorB);
}

.kXzAIG .schedule-content .event-tabs li a span {
  display: block;
  font-size: 1rem;
  margin: 0.4rem 0 0;
  color: var(--txtColorB);
}

.kXzAIG .schedule-content .event-tabs li:hover a b,
.kXzAIG .schedule-content .event-tabs li:hover a span {
  color: var(--txtColorA);
}

.kXzAIG .schedule-content .event-tabs li.active a,
.kXzAIG .schedule-content .event-tabs li:hover a {
  color: var(--txtColorA);
  background: #fff;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.kXzAIG .schedule-content .event-tabs li.active a span,
.kXzAIG .schedule-content .event-tabs li.active a b {
  color: var(--txtColorA);
}

.kXzAIG .event-tabs button.owl-prev {
  width: 22px;
  height: 29px;
  background: url(images/calendar-events-arrow-left.svg) no-repeat center center;
  background-size: auto 29px;
  border: none;
  position: absolute;
  left: -30px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.kXzAIG .event-tabs button.owl-next {
  width: 22px;
  height: 29px;
  background: url(images/calendar-events-arrow-right.svg) no-repeat center center;
  background-size: auto 29px;
  border: none;
  position: absolute;
  right: -30px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.kXzAIG .event-tabs .owl-next span,
.kXzAIG .event-tabs .owl-prev span {
  display: none;
}

.kXzAIG .schedule-tab-content > .tab-pane,
.kXzAIG .event-tab-content > .tab-pane {
  display: none;
}

.kXzAIG .schedule-tab-content > .tab-pane.active,
.kXzAIG .event-tab-content > .tab-pane.active {
  display: block;
}

.kXzAIG .schedule-content .event-tab-content {
  background: #fff;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs {
  margin: -6px -31px 0 0;
  border-right: 1px solid var(--grayColorA);
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs a {
  padding: 30px 50px 30px 80px;
  background: #fff;
  position: relative;
  display: block;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs a:before {
  content: " ";
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-clock' viewBox='0 0 16 16'><path d='M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z'/><path d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z'/></svg>");
  background-size: 20px 20px;
  display: block;
  position: absolute;
  top: 41px;
  left: 40px;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs a:after {
  content: " ";
  width: 6px;
  height: 10px;
  background: url("data:image/svg+xml;utf8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 60.000000 100.000000' ><g transform='translate(0.000000,100.000000) scale(0.100000,-0.100000)' fill='currentColor' stroke='none'><path d='M0 900 l0 -100 101 0 101 0 -4 -102 -3 -103 103 3 102 3 0 100 0 99 -100 0 -100 0 0 100 0 100 -100 0 -100 0 0 -100z'/><path d='M405 601 c-3 -2 -5 -46 -5 -98 l0 -93 -102 0 -103 0 3 -100 4 -100 -101 0 -101 0 0 -105 0 -105 100 0 100 0 0 100 0 100 100 0 100 0 0 100 0 100 100 0 101 0 -3 102 -3 103 -93 0 c-51 1 -95 -1 -97 -4z'/></g></svg>");
  background-size: 6px 10px;
  display: block;
  position: absolute;
  top: 45%;
  right: 40px;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs li.active a,
.kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs li:hover a {
  background: var(--grayColorA);
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .kp-img {
  background-size: cover;
  background-position: center center;
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .kp-img:before {
  display: block;
  content: "";
  padding-top: 33.3333333333%;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs .schedule-time {
  display: block;
  font-size: 1.4rem;
  color: var(--txtColorA);
  margin: 0 0 0.4rem;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs .schedule-time strong {
  display: inline-block;
  font-size: 0.8rem;
  color: var(--txtColorA);
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs .schedule-title {
  display: block;
  font-size: 0.8rem;
  color: var(--txtColorA);
  margin: 0 0 0.8rem;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs .schedule-ticket-info {
  display: inline-block;
  font-size: 0.6rem;
  color: #fff;
  background: var(--baseColorA);
  padding: 5px 15px;
  border-radius: var(--borderStyle);
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .tab-content {
  border-left: 1px solid var(--grayColorA);
}

.kXzAIG .schedule-content .event-tab-contentt .tab-content .tab-pane > img {
  width: 100%;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info {
  padding: 32px;
  overflow: hidden;
}

.kXzAIG .schedule-content .event-tab-content .full-event-info-header {
  overflow: hidden;
  margin: 0 0 1rem;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tab-content img {
  width: 100%;
  display: block;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info h2 {
  font-size: 22px;
  color: var(--txtColorA);
  font-weight: 600;
  float: left;
  margin: 0 0 15px;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info .ticket-left-info {
  font-size: 0.6rem;
  color: var(--txtColorC);
  background: var(--baseColorA);
  padding: 5px 15px;
  float: right;
  display: inline-block;
  border-radius: var(--borderStyle);
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info .event-date-info {
  font-size: 1rem;
  color: var(--txtColorA);
  float: left;
  display: inline-block;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info .event-venue-info {
  font-size: 15px;
  color: var(--txtColorA);
  float: right;
  display: inline-block;
  margin: 0 0 1rem;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info-content {
  overflow: hidden;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info-content p {
  color: var(--txtColorA);
  font-size: 1rem;
  margin: 0 0 1rem;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info-content .book-ticket {
  font-size: 1rem;
  color: var(--txtColorC);
  padding: 16px 32px;
  text-transform: uppercase;
  background: var(--baseColorA);
  border-color: var(--baseColorA);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--borderStyle);
  float: right;
  transition: all 0.24s;
}

.kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info-content .book-ticket:hover {
  color: var(--baseColorA);
  background: var(--txtColorC);
  border-color: var(--baseColorA);
  border-radius: var(--borderStyle);
}

.kXzAIG .refine-search .kenzap-sm .kenzap-col-4,
.kXzAIG .refine-search .kenzap-sm .kenzap-col-3,
.kXzAIG .refine-search .kenzap-sm .kenzap-col-2 {
  width: 50%;
  margin: 0 0 30px;
}

.kXzAIG .kenzap-sm .kenzap-col-3 {
  width: 30%;
}

.kXzAIG .kenzap-sm .kenzap-col-9 {
  width: 70%;
}

.kXzAIG .schedule-content .kenzap-sm .event-tab-content .full-event-info-header {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.kXzAIG .schedule-content .kenzap-sm .event-tab-content .tab-pane .full-event-info .ticket-left-info {
  order: 1;
  margin: 0 0 10px;
}

.kXzAIG .schedule-content .kenzap-sm .event-tab-content .tab-pane .full-event-info h2 {
  order: 2;
  margin: 0 0 10px;
}

.kXzAIG .schedule-content .kenzap-sm .event-tab-content .tab-pane .full-event-info .event-date-info {
  order: 3;
  margin: 0 0 5px;
}

.kXzAIG .schedule-content .kenzap-sm .event-tab-content .tab-pane .full-event-info .event-venue-info {
  order: 4;
}

.kXzAIG .schedule-content .kenzap-sm .event-tab-content .tab-pane .schedule-tabs a {
  padding: 30px 50px;
}

.kXzAIG .schedule-content .kenzap-sm .event-tab-content .tab-pane .schedule-tabs a::after {
  right: 20px;
}

.kXzAIG .schedule-content .kenzap-sm .event-tab-content .tab-pane .schedule-tabs a::before {
  left: 20px;
}

.kXzAIG .refine-search .kenzap-xs .kenzap-col-4,
.kXzAIG .refine-search .kenzap-xs .kenzap-col-3,
.kXzAIG .refine-search .kenzap-xs .kenzap-col-2 {
  width: 100%;
  margin: 0 0 30px;
}

.kXzAIG .kenzap-xs .kenzap-col-3,
.kXzAIG .kenzap-xs .kenzap-col-9 {
  width: 100%;
}

.kXzAIG .schedule-content .kenzap-xs .event-tab-content .full-event-info-header {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.kXzAIG .schedule-content .kenzap-xs .event-tab-content .tab-pane .full-event-info .ticket-left-info {
  order: 1;
  margin: 0 0 10px;
}

.kXzAIG .schedule-content .kenzap-xs .event-tab-content .tab-pane .full-event-info h2 {
  order: 2;
  margin: 0 0 10px;
}

.kXzAIG .schedule-content .kenzap-xs .event-tab-content .tab-pane .full-event-info .event-date-info {
  order: 3;
  margin: 0 0 5px;
}

.kXzAIG .schedule-content .kenzap-xs .event-tab-content .tab-pane .full-event-info .event-venue-info {
  order: 4;
}

.kXzAIG .schedule-content .kenzap-xs .event-tab-content .tab-pane .schedule-tabs a {
  padding: 30px 50px 30px 80px;
}

.kXzAIG .schedule-content .kenzap-xs .event-tab-content .tab-pane .schedule-tabs a::after {
  right: 40px;
}

.kXzAIG .schedule-content .kenzap-xs .event-tab-content .tab-pane .schedule-tabs a::before {
  left: 40px;
}

.kXzAIG .refine-search .kenzap-xs input[type=submit],
.kXzAIG .schedule-content .kenzap-xs .event-tab-content .tab-pane .schedule-tabs {
  margin: 0;
}

@media only screen and (min-width: 62px) and (max-width: 75em) {
  /* 992px and 1200px */
  .kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs a {
    padding: 30px 50px;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs a::after {
    right: 20px;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs a::before {
    left: 20px;
  }
}
@media screen and (max-width: 61.938em) {
  /* width: 991px; */
  .kXzAIG .refine-search .kenzap-col-4,
  .kXzAIG .refine-search .kenzap-col-3,
  .kXzAIG .refine-search .kenzap-col-2 {
    width: 50%;
    margin: 0 0 30px;
  }
  .kXzAIG .kenzap-col-3 {
    width: 30%;
  }
  .kXzAIG .kenzap-col-9 {
    width: 70%;
  }
  .kXzAIG .schedule-content .event-tab-content .full-event-info-header {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info .ticket-left-info {
    order: 1;
    margin: 0 0 10px;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info h2 {
    order: 2;
    margin: 0 0 10px;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info .event-date-info {
    order: 3;
    margin: 0 0 5px;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info .event-venue-info {
    order: 4;
  }
}
@media screen and (max-width: 48em) {
  /* width 768px */
  .kXzAIG .refine-search .kenzap-col-4,
  .kXzAIG .refine-search .kenzap-col-3,
  .kXzAIG .refine-search .kenzap-col-2 {
    width: 100%;
    margin: 0 0 30px;
  }
  .kXzAIG .refine-search input[type=submit] {
    margin: 0;
  }
  .kXzAIG .kenzap-col-3,
  .kXzAIG .kenzap-col-9 {
    width: 100%;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs a {
    padding: 30px 50px 30px 80px;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs a::after {
    right: 40px;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs a::before {
    left: 40px;
  }
  .kXzAIG .schedule-content .event-tab-content .full-event-info-header {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info {
    padding: 16px 0;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info .ticket-left-info {
    order: 1;
    margin: 0 0 10px;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info h2 {
    order: 2;
    margin: 0 0 10px;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info .event-date-info {
    order: 3;
    margin: 0 0 5px;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info .event-venue-info {
    order: 4;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .full-event-info-content .book-ticket {
    padding: 20px 30px;
  }
  .kXzAIG .schedule-content .event-tab-content .tab-pane .schedule-tabs {
    margin: 0;
  }
}
