.kibGiH img, .kibGiH ul, .kibGiH li {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

.kibGiH .container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

.clearfix:after, .col-holder:after, .kibGiH .related-posts:after, .two-columns .tab-content:after {
  content: "";
  display: block;
  clear: both;
}

.kibGiH .related-posts {
  margin-bottom: 0px;
  box-sizing: border-box;
}

.kibGiH .related-posts h1 {
  margin-bottom: 29px;
}

@media screen and (max-width: 767px) {
  .kibGiH .related-posts h1 {
    padding-right: 0;
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (max-width: 400px) {
  .kibGiH .related-posts h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}
.kibGiH .related-posts .posts {
  margin: 0 -12px;
  display: flex;
  flex-flow: row wrap;
}

.kibGiH .related-posts .card {
  padding: 12px 12px;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 18px;
  box-sizing: border-box;
  flex: 0 0 33.333%;
  display: flex;
  padding: 12px; /* gutter width */
}

@media screen and (max-width: 992px) {
  .kibGiH .related-posts .card {
    flex: 0 0 49.9%;
  }
}
@media screen and (max-width: 767px) {
  .kibGiH .related-posts .card {
    flex: 0 0 100%;
  }
}
.kibGiH .related-posts .card .holder {
  position: relative;
  background: #fff;
  border-radius: var(--borderStyle);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02), 0 5px 15px rgba(0, 0, 0, 0.05);
  flex: 0 0 100%;
}

.kibGiH .related-posts .fav-icon {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 3;
  text-align: left;
}

.kibGiH .related-posts .love-icon {
  --heart-color: #bdc3c7;
  --heart-active-color: var(--baseColorA);
  --bg-color: white;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 16px;
  left: 14px;
}

.kibGiH .related-posts .love-icon input {
  position: absolute;
  opacity: 0;
}

.kibGiH .related-posts input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.kibGiH .related-posts .love-icon .heart {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--heart-color);
  cursor: pointer;
  transform: rotate(-45deg);
}

.kibGiH .related-posts .love-icon .heart::before {
  top: -50%;
}

.kibGiH .related-posts .love-icon .heart::after, .kibGiH .related-posts .love-icon .heart::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}

.kibGiH .related-posts .love-icon .heart::after {
  right: -50%;
}

.kibGiH .related-posts .card .img-area {
  overflow: hidden;
  border-radius: var(--borderStyle);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.kibGiH .related-posts .card a .kp-img {
  background-size: cover;
  background-position: center center;
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.kibGiH.kp-square .related-posts .card a .kp-img:before {
  display: block;
  content: "";
  padding-top: 100%;
}

.kibGiH.kp-vertical .related-posts .card a .kp-img:before {
  display: block;
  content: "";
  padding-top: 133.3333333333%;
}

.kibGiH .related-posts .card a .kp-img:before,
.kibGiH.kp-horizontal .related-posts .card a .kp-img:before {
  display: block;
  content: "";
  padding-top: 75%;
}

.kibGiH .related-posts img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.kibGiH .related-posts .card .card-body {
  padding: 28px 34px 6px;
}

.kibGiH .related-posts .card .card-body .ocnt {
  min-height: 140px;
}

.kibGiH .related-posts .card .card-body h3 {
  max-height: 84px;
  overflow: hidden;
}

.kibGiH .related-posts .card .card-body h3 a {
  color: var(--textColorA);
}

.kibGiH .related-posts .card h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 14px;
  word-spacing: 2px;
  letter-spacing: -0.5px;
  color: #111;
}

.kibGiH .related-posts .card .sub-heading {
  margin-bottom: 56px;
  display: block;
}

.kibGiH .related-posts .card .sub-heading {
  color: var(--txtColorB);
  font-weight: 400;
}

.kibGiH .related-posts .card .ocnt .flag {
  height: 20px;
  margin: 0 0 0 4px;
}

.kibGiH .related-posts .card .card-footer {
  border-top: 1px solid var(--grayColorA);
  overflow: hidden;
  padding: 16px 0;
  font-size: 16px;
}

.kibGiH .related-posts .card .price {
  font-weight: 600;
  color: var(--baseColorA);
  width: 50%;
  float: left;
  text-align: left;
}

.kibGiH .related-posts .card .rating-area {
  float: left;
  width: 50%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kibGiH .related-posts .card .rating-area .rating {
  float: right;
}

.kibGiH .related-posts .card .rating-area svg {
  margin-right: 8px;
}

.kibGiH .rating {
  border: none;
  float: left;
  padding: 0;
}

.kibGiH .rating > input {
  display: none;
}

.kibGiH .rating > label:before {
  margin: 0 2px;
  font-size: 1.1em;
  font-family: FontAwesome;
  line-height: 28px;
  display: inline-block;
  content: "\f005";
}

@media screen and (max-width: 400px) {
  .kibGiH .rating > label:before {
    font-size: 1em;
  }
}
.kibGiH .rating > .half:before {
  content: "\f089";
  position: absolute;
}

.kibGiH .rating > label {
  color: #ddd;
  float: right;
}

.kibGiH .rating > input:checked ~ label {
  color: #f5da02;
}

.kibGiH .rating > input:checked + label:hover, .kibGiH .rating > input:checked ~ label:hover, .kibGiH .rating > input:checked ~ label:hover ~ label {
  color: #f5da02;
}
